---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Break from '../components/Break.astro';
import Tag from '../components/Tag.astro';
import Chip from '../components/Chip.astro';
import FullLink from '../components/FullLink.astro';
import dan from '../images/dan.jpeg';
---

<Layout title="home">
	<div class="info">
        <Image class="info-profile" src={dan} alt="image of daniel dangond" width="150" height="150"/>
		<div class="info-tags">
            <Tag label="name">daniel dangond</Tag>	
            <Tag label="online aliases">guatapuri, onward! games</Tag>	
            <Tag label="hobbies">writing software, playing and making games, d&d, piano, digital art, photography</Tag>	
		</div>
	</div>
	<Break/>
	<h2>work experience</h2>
	<Chip href="https://pulley.com/">software engineer at pulley (january 2025 - present)</Chip>
	<Chip href="https://www.ptc.com/en/about/reality-lab">senior innovation engineer at the ptc reality lab (january 2021 - december 2024)</Chip>
	<Chip href="https://credentials.mit.edu/certificate/9af1894af5f35a7bb8f7dcd45db591b7">b.s. computer science and engineering + b.s. comparative media studies (mit '21)</Chip>
	<Break/>
	<h2>side stuff</h2>
    <Chip href="https://loresage.com/">creator of lore sage (march 2023 - july 2023)</Chip>
	<Chip href="https://onward.games/">creator of onward! games (july 2022 - present)</Chip>
    <Break/>
	<h2>things i've made</h2>
	<FullLink href="/games">games</FullLink>
	<FullLink href="/dev">dev projects</FullLink>
	<FullLink href="/3d">3d animations</FullLink>
</Layout>

<style>
    .info {
        display: flex; 
		flex-direction: row-reverse;
		align-items: center;
		gap: 1.2em;
		justify-content: space-between;
	}
	@media (max-width: 550px) {
		.info {
			flex-direction: column;
			align-items: start;
			gap: 1em;
		}
	}
</style>
